li {
  list-style: none;
}

.resumeItem {
  margin-top: 20px;
  width: 300px;
  height: 300px;
  transition: transform 250ms ease-in;
  border: 1px solid lightgray;
  cursor: pointer;
}

.resumeItem:hover {
  transform: scale(1.02);
}
